<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	
	<servlet>
		<servlet-name>HelloServlet</servlet-name>
		<servlet-class>servlet.HelloServlet</servlet-class>
        <init-param>
            <param-name>greeting</param-name>
            <param-value>안녕하세요 11111</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
	</servlet>
    
    <servlet>
        <servlet-name>HelloServlet2</servlet-name>
        <servlet-class>servlet.HelloServlet2</servlet-class>
        <init-param>
            <param-name>greeting</param-name>
            <param-value>안녕하세요 22222</param-value>
        </init-param>
        <load-on-startup>0</load-on-startup>
    </servlet>
	
</web-app>